<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<CommonSection>
		<!--クライアント証明書検索キー値1-->
		<ClientCertificateSearchValue1></ClientCertificateSearchValue1>
		<!--クライアント証明書検索キー値2-->
		<ClientCertificateSearchValue2></ClientCertificateSearchValue2>
		<!-- 施設ハッシュ -->
		<FacilityHash>%242a%2410%24fWnxV.NJVnaIS5EYmMk03eML970U5Q%2FJGk3HjKqZri0YE68KioS3u</FacilityHash>
		<!-- ホストアドレス -->
		<BaseUri>http://172.30.15.102:8080</BaseUri>
		<!-- 最新ファイル取得先フォルダ -->
		<DownloadFolder></DownloadFolder>
		<!-- 最新ファイル取得先ファイル名 -->
		<DownloadFileName>FNSICloudConvertClient.zip</DownloadFileName>
		<!--システム支援ドキュメント-->
		<HelpDocument>Manual\FNSICloudConvertClient_操作マニュアル.pdf</HelpDocument>
		<!-- ZIP圧縮パスワード（空の場合はパスワードなしで圧縮） -->
		<ZipPassword></ZipPassword>
		<!--
			ネットワークモード
			  LAN : オンプレ作業とクラウド作業を別々に実行（エクスポート後に手動でネットワーク切替が必要）
			  WAN : オンプレ→クラウド間を直接通信できる環境（一括実行）
		-->
		<NetworkMode>WAN</NetworkMode>
		<!-- コンバーターサーバーアドレス（コンテキストパス込み） -->
		<ConverterBaseUri>https://uat-conv.iesfn.com/fnsi-cloud-convert-server/</ConverterBaseUri>
		<!-- コンバーターサーバールーティングヘッダー値（HTTP header: server） -->
		<ConverterServerHeaderValue>01</ConverterServerHeaderValue>
	</CommonSection>
	<LogSection>
		<!--ログの保存先-->
		<Folder></Folder>
		<!--ログ保持日数-->
		<KeepNumberOfDays></KeepNumberOfDays>
	</LogSection>
	<ToolsSection>
		<!-- PostgreSQL クライアントツールのパス -->
		<PgDumpExe>C:\Program Files\PostgreSQL\16\bin\pg_dump.exe</PgDumpExe>
		<PsqlExe>C:\Program Files\PostgreSQL\16\bin\psql.exe</PsqlExe>
		<PgRestoreExe>C:\Program Files\PostgreSQL\16\bin\pg_restore.exe</PgRestoreExe>
		<!-- MongoDB ツールのパス -->
		<MongoDumpExe>C:\Program Files\MongoDB\Tools\100\bin\mongodump.exe</MongoDumpExe>
		<MongoImportExe>C:\Program Files\MongoDB\Tools\100\bin\mongoimport.exe</MongoImportExe>
	</ToolsSection>
	<DatabaseSection>
		<!-- PostgreSQL DB4 接続情報 -->
		<PgDb4Name>ntss_db4</PgDb4Name>
		<PgDb4User>nkk4</PgDb4User>
		<PgDb4Password>nkk4</PgDb4Password>
		<!-- PostgreSQL DB5 接続情報 -->
		<PgDb5Name>ntss_db5</PgDb5Name>
		<PgDb5User>nkk5</PgDb5User>
		<PgDb5Password>nkk5</PgDb5Password>
		<!-- PostgreSQL DB6 接続情報 -->
		<PgDb6Name>ntss_db6</PgDb6Name>
		<PgDb6User>nkk6</PgDb6User>
		<PgDb6Password>nkk6</PgDb6Password>
		<!-- MongoDB 接続情報 -->
		<MongoDbName>ntss</MongoDbName>
		<MongoUser>nkk</MongoUser>
		<MongoPassword>nkk</MongoPassword>
	</DatabaseSection>
</Settings>
