<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<CommonSection>
		<!--クライアント証明書検索キー値1-->
		<ClientCertificateSearchValue1></ClientCertificateSearchValue1>
		<!--クライアント証明書検索キー値2-->
		<ClientCertificateSearchValue2></ClientCertificateSearchValue2>
		<!-- ホストアドレス -->
		<BaseUri>https://fnwsi.nksfn.com</BaseUri>
		<!--システム支援ドキュメント-->
		<HelpDocument>Manual\FutureNetWeb+Si_帳票レイアウトデザイナー_操作マニュアル.pdf</HelpDocument>
		<!--新規登録タブのドロップダウンリスト設定-->
		<CreateDropCodeList>Dialysis,OnePatient,MultiPatient,EquipmentList,DistributeListBed,DistributeListEquipment,Device,Label,ReferralLetter,OneTotal,MultiTotal</CreateDropCodeList>
	</CommonSection>
	<LogSection>
		<!--ログの保存先-->
		<Folder></Folder>
		<!--ログ保持日数-->
		<KeepNumberOfDays></KeepNumberOfDays>
	</LogSection>
</Settings>