<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <!--印刷サーバーアプリ設定-->
  <Application>
    <!--印刷サーバーアプリ番号-->
    <AppNo>1</AppNo>
    <PrinterNameSuffix></PrinterNameSuffix>
    <UpdateTime>02:00</UpdateTime>
  </Application>
  <!--共通設定-->
  <Common>
    <!--クライアント証明書検索キー値1-->
    <ClientCertificateSearchValue1></ClientCertificateSearchValue1>
    <!--クライアント証明書検索キー値2-->
    <ClientCertificateSearchValue2></ClientCertificateSearchValue2>
    <!--ユーザーID-->
    <UserId>PrintSrvApp4</UserId>
    <!--パスワード-->
    <UserPW>PxVQ48buEgm5bCVW</UserPW>
    <!--ホストアドレス-->
    <BaseUri>https://fnwsi.nksfn.com</BaseUri>
    <!-- 最新ファイル取得先フォルダ -->
    <DownloadFolder>s3://ntss-s3-root-service/Application_Update</DownloadFolder>
    <!-- 最新ファイル取得先ファイル名 -->
    <DownloadFileName>FNWSiPrintServerSetup.zip</DownloadFileName>
  </Common>
  <!--WebSocket設定-->
  <WebSocket>
    <!--接続先-->
    <URI>wss://aline.nksfn.com/ntss-client-comm/ntssclientcomm</URI>
    <!--KeepAlive間隔(既定値:20秒)-->
    <KeepAlive>20</KeepAlive>
  </WebSocket>
  <!--ログ設定-->
  <Log>
    <!--ログの保存先-->
    <Folder></Folder>
    <!--ログ保持日数-->
    <KeepNumberOfDays></KeepNumberOfDays>
  </Log>
  <!--GUI接続用設定-->
  <Tool>
    <!--処理ログ表示ツール用待ち受けIPアドレス(空の場合はすべてのNICを対象)-->
    <IPAddress>127.0.0.1</IPAddress>
    <!--処理ログ表示ツール用待ち受けポートNo-->
    <PortNo>5010</PortNo>
  </Tool>
  <!--帳票PDFファイル設定-->
  <PdfFile>
    <!--帳票PDFファイルの保存先(既定：直下のPDFフォルダ)-->
    <Folder></Folder>
    <!--帳票PDFファイル保持日数(既定:20日)-->
    <KeepNumberOfDays>7</KeepNumberOfDays>
  </PdfFile>
</Settings>