<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LayoutDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

    <userSettings>
        <LayoutDesigner.Properties.Settings>
            <setting name="LastCsvDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTempDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="MainMenuWindowSize" serializeAs="String">
                <value />
            </setting>
            <setting name="MainMenuMakeColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="MainMenuEditColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="MainMenuWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainMenuMakeNode" serializeAs="String">
                <value />
            </setting>
            <setting name="MainMenuEditNode" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainMenuEditCurrent" serializeAs="String">
                <value />
            </setting>
            <setting name="MainMenuEditDisp" serializeAs="String">
                <value />
            </setting>
        </LayoutDesigner.Properties.Settings>
    </userSettings>
</configuration>
