<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<!--共通設定-->
	<Common>
		<!--ODBC-->
		<ConnectionString>Dsn=ntssViewDb;DataBase=fnsiview;Uid=FNSIVIEW;Pwd=fnsiview;</ConnectionString>
		<!--データの保存先(既定：直下のDataフォルダ)-->
		<DataFolder>
		</DataFolder>
		<!--データ保持日数(既定:20日)-->
		<DataKeepNumberOfDays>20</DataKeepNumberOfDays>
		<!--一回同期ビュー数-->
		<ViewSyncCnt>6</ViewSyncCnt>
		<!--一回同期日数-->
		<ViewSyncDay>1</ViewSyncDay>
		<!--初期更新日付(yyyyMMddhhmmss)-->
		<InitialUpdatedDate>19700101000000</InitialUpdatedDate>
		<!--一タイムアウト秒数-->
		<TimeoutSeconds>90</TimeoutSeconds>
		<!--SQL実行タイムアウト-->
		<SqlExecuteTimeout>300</SqlExecuteTimeout>
		<!--一ログデバックモード-->
		<LogDebugMode>1</LogDebugMode>
		<!--リトライ回数-->
		<XMLRetryCount>30</XMLRetryCount>
		<!--リトライ間隔ミリ秒-->
		<XMLRetryInterval>100</XMLRetryInterval>
	</Common>
	<!--Socket設定-->
	<Socket>
		<!--IFエッジサービスのIP-->
		<IFEdgeIPAddress>192.168.2.242</IFEdgeIPAddress>
		<!--IFエッジサービスのポートNo-->
		<IFEdgePortNo>7011</IFEdgePortNo>
		<!--ローカルサービスのIP-->
		<LocalIPAddress>127.0.0.1</LocalIPAddress>
		<!--ローカルサービスのポートNo-->
		<LocalPortNo>7012</LocalPortNo>
	</Socket>
	<!--FTP設定-->
	<Ftp>
		<!--FTPのIPAddress-->
		<FtpIPAddress>192.168.2.242</FtpIPAddress>
		<!--FTPのポートNo-->
		<FtpPortNo>22</FtpPortNo>
		<!---FTPのUserId-->
		<FtpUserId>ntss</FtpUserId>
		<!--FTPのパスワード-->
		<FtpPW>ntss</FtpPW>
	</Ftp>
	<!--ログ設定-->
	<Log>
		<!--ログの保存先(既定：直下のLOGフォルダ)-->
		<LogFolder>
		</LogFolder>
		<!--ログ保持日数(既定:20日)-->
		<LogKeepNumberOfDays>20</LogKeepNumberOfDays>
		<!--ログ送信時刻(HHmm)-->
		<SendLogToBox>1644</SendLogToBox>
		<!--ログ送信パス-->
		<SendLogToBoxPath>/home/ntss/if_edge/logs/view/</SendLogToBoxPath>
		 <!--ログPORT-->
    	<LogPort>7014</LogPort>
	</Log>
	<!--同期結果設定-->
	<Result>
		<!--再同期ポートNo-->
		<ReSyncPortNo>7013</ReSyncPortNo>
	</Result>
</Settings>