<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SessionCount" value="100" />
    <!-- ログ設定 -->
    <add key="TraceFile" value="TRACE_CooperationServer" />
    <add key="TraceSize" value="10MB" />
    <add key="TraceNumber" value="2000" />
    <add key="TraceSpan" value="14.00:00:00" />
    <add key="TraceIsZip" value="True" />
    <add key="ErrorFile" value="ERROR_CooperationServer" />
    <add key="ErrorSize" value="10MB" />
    <add key="ErrorNumber" value="2000" />
    <add key="ErrorSpan" value="14.00:00:00" />
    <add key="ErrorIsZip" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
</configuration>