<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<CommonSection>
		<!--クライアント証明書検索キー値1-->
		<ClientCertificateSearchValue1></ClientCertificateSearchValue1>
		<!--クライアント証明書検索キー値2-->
		<ClientCertificateSearchValue2></ClientCertificateSearchValue2>
		<!-- ホストアドレス -->
		<BaseUri>https://fnwsi.nksfn.com</BaseUri>
		<!-- ホストアドレス -->
		<SendUri>https://fnwsi.nksfn.com</SendUri>
		<!-- BaseNameを追加します区別するために使用CoopEventCreateOrStopToolプログラム -->
		<BaseName>CoopEventCreateOrStopTool</BaseName>
		<!--システム・データ版-->
		<DataVersion>23.07.09.16.26</DataVersion>
		<!--モデル版-->
		<ModelVersion>0.9.0.0</ModelVersion>

	</CommonSection>
	<LogSection>
		<!--ログの保存先(既定：直下のLogフォルダ)-->
		<Folder>
		</Folder>
		<!--ログ保持日数(既定:20日)-->
		<KeepNumberOfDays>20</KeepNumberOfDays>
	</LogSection>
	<!--最新ファイル取得先フォルダ-->
	<DownloadSourceFolder>s3://ntss-s3-root-service/Application_Update</DownloadSourceFolder>
	<!--最新ファイル取得先ファイル名-->
	<DownloadSourceFileName>CoopEventCreateOrStopTool.zip</DownloadSourceFileName>
	<!--最大メッセージ数-->
	<PopUpMaxMsgs>10</PopUpMaxMsgs>
	
	<!--del #8914 配置ファイルに4つ余計なパラメータがあり、削除必要有り 董昊　start-->
	<!--<DataPickupIntervalMinutes>15</DataPickupIntervalMinutes>
	<DataUploadIntervalMinutes>1</DataUploadIntervalMinutes>
	<JudgeDialEndSeconds>30</JudgeDialEndSeconds>
	<DataPickupAtCare>True</DataPickupAtCare>-->
	<!--del #8914 配置ファイルに4つ余計なパラメータがあり、削除必要有り 董昊　end-->
</Settings>