<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <!--FNSiカードアプリ設定-->
  <Application>
    <!--アップデート確認時刻-->
    <UpdateTime>02:00</UpdateTime>
  </Application>
  <Common>
    <!--クライアント証明書検索キー値1-->
    <ClientCertificateSearchValue1></ClientCertificateSearchValue1>
    <!--クライアント証明書検索キー値2-->
    <ClientCertificateSearchValue2></ClientCertificateSearchValue2>
    <!--ユーザーID-->
    <UserId>CardApp4</UserId>
    <!--パスワード-->
    <UserPW>sjT5YgazVfrGarF4</UserPW>
    <!--ホストアドレス-->
    <BaseUri>https://fnwsi.nksfn.com</BaseUri>
    <!-- 最新ファイル取得先フォルダ -->
    <DownloadFolder>s3://ntss-s3-root-service/Application_Update</DownloadFolder>
    <!-- 最新ファイル取得先ファイル名 -->
    <DownloadFileName>FNWSiAccessCardSetup.zip</DownloadFileName>
  </Common>
  <!--Felica設定-->
  <Felica>
    <!--カードAPPのGUID-->
    <GUID></GUID>
    <!--ダイナミックポート範囲-->
    <DynamicPortFrom>49152</DynamicPortFrom>
    <DynamicPortTo>65535</DynamicPortTo>
  </Felica>
  <!--WebSocket設定-->
  <WebSocket>
    <!--接続先-->
    <WEB_APP_URI>ws://127.0.0.1</WEB_APP_URI>
    <WEB_APP_PORT></WEB_APP_PORT>
  </WebSocket>
  <!--ログ設定-->
  <Log>
    <!--ログの保存先-->
    <Folder></Folder>
    <!--ログ保持日数-->
    <KeepNumberOfDays></KeepNumberOfDays>
  </Log>
  <!--GUI接続用設定-->
  <Tool>
    <!--処理ログ表示ツール用待ち受けIPアドレス(空の場合はすべてのNICを対象)-->
    <IPAddress>127.0.0.1</IPAddress>
    <!--処理ログ表示ツール用待ち受けポートNo-->
    <PortNo>5012</PortNo>
  </Tool>
</Settings>