[Unit]
Description=ntss logger service

[Service]
# set working directory
WorkingDirectory=/mnt/sd/ntss
# systemctl start [serviceName] : action
ExecStart = /mnt/sd/ntss/ntss_logger.exe
# if service is stop, [always]: always restart
Restart = always
# service start success: command ok
Type = simple
# log
StandardOutput=null
StandardError=null
 
[Install]
WantedBy=multi-user.target
