<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<!--接続設定-->
	<Connection>
		<!--プロトコル-->
		<Protocol>TCP</Protocol>
		<!--IPアドレス-->
		<IPAddress>localhost</IPAddress>
		<!--ポートNo-->
		<PortNo>1521</PortNo>
		<!--Database名-->
		<Database>NKKFN3</Database>
		<!--接続仕様　DatabaseにてSID（システム識別子）を指定してOracle Databaseに接続する場合「SID」を設定しておく-->
		<ConnectSpecificat>ServiceName</ConnectSpecificat>
		<!--ユーザー名-->
		<Username>nkk</Username>
		<!--パスワード-->
		<Password>nkk</Password>
		<!--管理権限　「Normal」「SYSDBA」「SYSOPER」のいずれかを設定-->
		<Role>Normal</Role>
		<!--接続タイムアウト（秒）-->
		<ConnectionTimeout>15</ConnectionTimeout>
	</Connection>
	<DBView>
		<!--SYS_COOP_INI_DATAのデータを抽出する時に使用される-->
		<SQL>SELECT * FROM NKK.SYS_COOP_INI_DATA</SQL>
		<!--SYS_SERIES_FACILITYのデータを抽出する時に使用される-->
		<SQL_SYS_SERIES_FACILITY>SELECT * FROM NKK.SYS_SERIES_FACILITY ssf WHERE ssf.DISP_FLG ='1' AND ssf.DEL_FLG = '0' ORDER BY ssf.DISP_ORDER ASC</SQL_SYS_SERIES_FACILITY>
	</DBView>
</Settings>