<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Fnw.StatisticsTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Fnw.StatisticsTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Fnw.StatisticsTool.Properties.Settings>
      <setting name="ProcWait" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="SearchExamStart" serializeAs="String">
        <value>1950-01-01</value>
      </setting>
      <setting name="MaxPageRow" serializeAs="String">
        <value>52</value>
      </setting>
      <setting name="IdPreCheckPat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PathExport" serializeAs="String">
        <value>C:\FNWSiTools\Statistics\StatisticsExport</value>
      </setting>
      <setting name="PathCsv" serializeAs="String">
        <value>C:\FNWSiTools\Statistics\StatisticsSetting</value>
      </setting>
      <setting name="PathTemplate" serializeAs="String">
        <value>C:\FNWSiTools\Statistics\StatisticsSetting</value>
      </setting>
      <setting name="FileSheetSum" serializeAs="String">
        <value>SheetSum.txt</value>
      </setting>
      <setting name="FileErrorNew" serializeAs="String">
        <value>SheetErrorNew.txt</value>
      </setting>
      <setting name="FileErrorOld" serializeAs="String">
        <value>SheetErrorOld.txt</value>
      </setting>
      <setting name="PathPatient" serializeAs="String">
        <value>Patient.csv</value>
      </setting>
      <setting name="PathMatchMstTreatItem" serializeAs="String">
        <value>MatchMstTreatItem.csv</value>
      </setting>
      <setting name="PathMatchMstFacility" serializeAs="String">
        <value>MatchMstFacility.csv</value>
      </setting>
      <setting name="PathMatchMstExamItem" serializeAs="String">
        <value>MatchMstExamItem.csv</value>
      </setting>
      <setting name="PathSelectMstDiseaseDiabetes" serializeAs="String">
        <value>SelectMstDiseaseDiabetes.csv</value>
      </setting>
      <setting name="PathCustomizeSettings" serializeAs="String">
        <value>CustomizeSettings.xml</value>
      </setting>
      <setting name="PathMatchPatient" serializeAs="String">
        <value>MatchPatient2025.csv</value>
      </setting>
      <setting name="PathMatchMstDisease" serializeAs="String">
        <value>MatchMstDisease.csv</value>
      </setting>
      <setting name="PathMatchMstDie" serializeAs="String">
        <value>MatchMstDie.csv</value>
      </setting>
      <setting name="PathCompletionStatus" serializeAs="String">
        <value>CompletionStatus_2025.xml</value>
      </setting>
      <setting name="PathMatchMstDieLastYear" serializeAs="String">
        <value>MatchMstDie2024.csv</value>
      </setting>
      <setting name="PathMatchMstDiseaseLastYear" serializeAs="String">
        <value>MatchMstDisease2024.csv</value>
      </setting>
      <setting name="PeriodEnd" serializeAs="String">
        <value>2026-01-01</value>
      </setting>
      <setting name="PeriodStart" serializeAs="String">
        <value>2025-01-01</value>
      </setting>
      <setting name="SessionTimeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="PathMatchMstInfection" serializeAs="String">
        <value>MatchMstInfection.csv</value>
      </setting>
      <setting name="FacilityName" serializeAs="String">
        <value />
      </setting>
      <setting name="FacilityCode" serializeAs="String">
        <value />
      </setting>
    </Fnw.StatisticsTool.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Fnw.StatisticsTool.Properties.Settings>
      <setting name="FacilityCd" serializeAs="String">
        <value />
      </setting>
      <setting name="UsingOrderClass" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="BaseName" serializeAs="String">
        <value>https://fnwsi.nksfn.com</value>
      </setting>
      <setting name="FacilityHash" serializeAs="String">
        <value />
      </setting>
      <setting name="PathMatchMstVa" serializeAs="String">
        <value>MatchMstVa.csv</value>
      </setting>
    </Fnw.StatisticsTool.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.4" newVersion="8.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Xml" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
