<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="3.3.1" targetFramework="net481" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.3.2" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.2" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.3.2" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.3.2" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.2" targetFramework="net481" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net481" />
  <package id="Ninject" version="3.3.6" targetFramework="net481" />
  <package id="NLog" version="4.6.8" targetFramework="net481" />
</packages>