<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<!--ファイル共有設定-->
	<Share>
		<!--ファイル共有のUserId-->
		<UserId></UserId>
		<!--ファイル共有のパスワード-->
		<PW></PW>
		<!--ファイル共有XMLパス-->
		<XmlPath></XmlPath>
		<!--ファイル共有ログパス-->
		<LogPath></LogPath>
		<!--ログの保存先-->
		<LogFolder></LogFolder>
		<!--リトライ回数-->
		<XMLRetryCount>30</XMLRetryCount>
		<!--リトライ間隔ミリ秒-->
		<XMLRetryInterval>100</XMLRetryInterval>
	</Share>
	<!--同期結果設定-->
	<Result>
		<!--手動実行のIPAddress-->
		<ReSyncIPAddress></ReSyncIPAddress>
		<!--手動実行ポートNo-->
		<ReSyncPortNo>7013</ReSyncPortNo>
	</Result>
</Settings>