<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <!--ホストアドレス-->
  <BaseUri>https://fnwsi.nksfn.com</BaseUri>
  <!--通信データ保存先-->
  <DataDir>.\BloodPurifyData</DataDir>
  <!--DataPickupIntervalMinutes-->
  <DataPickupIntervalMinutes>15</DataPickupIntervalMinutes>
  <!--データアップロード間隔-->
  <DataUploadIntervalMinutes>1</DataUploadIntervalMinutes>
  <!--排液判定用間隔-->
  <JudgeDialEndSeconds>30</JudgeDialEndSeconds>
  <!--ケア時のトレンド-->
  <DataPickupAtCare>True</DataPickupAtCare>
  <!--最新ファイル取得先フォルダ-->
  <DownloadSourceFolder>s3://ntss-s3-root-service/Application_Update</DownloadSourceFolder>
  <!--最新ファイル取得先ファイル名-->
  <DownloadSourceFileName>FNWSiBloodPurifySetup.zip</DownloadSourceFileName>
  <!--クライアント証明書検索キー値1-->
  <ClientCertificateSearchValue1></ClientCertificateSearchValue1>
  <!--クライアント証明書検索キー値2-->
  <ClientCertificateSearchValue2></ClientCertificateSearchValue2>
</Settings>