<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <!--体重計設定-->
  <Weight>
    <!--体重計番号-->
    <WeightNo></WeightNo>
    <!--アップデート確認時刻-->
    <UpdateTime>02:00</UpdateTime>
  </Weight>
  <!--共通設定-->
  <Common>
    <!--クライアント証明書検索キー値1-->
    <ClientCertificateSearchValue1></ClientCertificateSearchValue1>
    <!--クライアント証明書検索キー値2-->
    <ClientCertificateSearchValue2></ClientCertificateSearchValue2>
    <!--ユーザーID-->
    <UserId>ScalApp4</UserId>
    <!--パスワード-->
    <UserPW>k6iQTzhU59xTNgie</UserPW>
    <!--ホストアドレス-->
    <BaseUri>https://fnwsi.nksfn.com</BaseUri>
    <!-- 最新ファイル取得先フォルダ -->
    <DownloadFolder>s3://ntss-s3-root-service/Application_Update</DownloadFolder>
    <!-- 最新ファイル取得先ファイル名 -->  
    <DownloadFileName>FNWSiScaleSetup.zip</DownloadFileName>
  </Common>
  <!--WebSocket設定-->
  <WebSocket>
    <!--接続先-->
    <URI>wss://aline.nksfn.com/ntss-client-comm/ntssclientcomm</URI>
    <!--KeepAlive間隔(既定値:20秒)-->
    <KeepAlive>20</KeepAlive>
  </WebSocket>
  <!--ログ設定-->
  <Log>
    <!--ログの保存先-->
    <Folder></Folder>
    <!--ログ保持日数-->
    <KeepNumberOfDays></KeepNumberOfDays>
  </Log>
  <!--GUI接続用設定-->
  <Tool>
    <!--処理ログ表示ツール用待ち受けIPアドレス(空の場合はすべてのNICを対象)-->
    <IPAddress>127.0.0.1</IPAddress>
    <!--処理ログ表示ツール用待ち受けポートNo-->
    <PortNo>5011</PortNo>
  </Tool>
  <CSV>
    <Path></Path>
  </CSV>
  <!--見えない文字(0x00～0x1F、0x7F)を設定できます。ASCIIコード対照表を参照してください。例：0x00⇒[NUL]-->
  <!--体重の書式は「{0:}」です。例：{0:000.00}-->
  <!--BCCチェック時には[BCC]文字を含める必要があります。[BCC]位置前の文字のビット演算の値 = [BCC]位置の値-->
  <!--末尾は[CRLF]、[CR]、[LF]のいずれかです-->
  <!--「*」は任意の文字に代えることができます-->
  <!--例：[SOH][SOH]17 *[STX]{0:00000.00}kg,[ETX][BCC][CR]-->
  <WeightFormat>
	<FormatString></FormatString>
  </WeightFormat>
</Settings>