<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NKSConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <userSettings>
    <NKSConverter.Properties.Settings>
      <setting name="TraceFolder" serializeAs="String">
        <value>.\Log</value>
      </setting>
      <setting name="TraceSize" serializeAs="String">
        <value>10000000</value>
      </setting>
      <setting name="TraceNumber" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="TraceSpan" serializeAs="String">
        <value>14.00:00:00</value>
      </setting>
      <setting name="TraceIsZip" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ErrorFolder" serializeAs="String">
        <value>.\Log</value>
      </setting>
      <setting name="ErrorSize" serializeAs="String">
        <value>10000000</value>
      </setting>
      <setting name="ErrorNumber" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="ErrorSpan" serializeAs="String">
        <value>14.00:00:00</value>
      </setting>
      <setting name="ErrorIsZip" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Encoding" serializeAs="String">
        <value>Shift-JIS</value>
      </setting>
      <setting name="DefaultExportFolderPath" serializeAs="String">
        <value>.\Export</value>
      </setting>
      <setting name="isSimpleConvertValueDirect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChunkSize" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="chkSelectAllSpan" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="chkExclusion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chkbBloodCircuit" serializeAs="String">
        <value />
      </setting>
      <setting name="chkbPunctureA" serializeAs="String">
        <value />
      </setting>
      <setting name="chkbPunctureV" serializeAs="String">
        <value />
      </setting>
      <setting name="chkbPunctureSN" serializeAs="String">
        <value />
      </setting>
      <setting name="cmbSeriesCd" serializeAs="String">
        <value />
      </setting>
      <setting name="txtChunkSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="dtpStartDate" serializeAs="String">
        <value>1900-01-01</value>
      </setting>
      <setting name="btnDeleteTable_Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="maxFileSize" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="isDiff" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="param" serializeAs="String">
        <value>diff</value>
      </setting>
      <setting name="uploadServPathKey" serializeAs="String">
        <value>uploadServPath</value>
      </setting>
      <setting name="multipartKey" serializeAs="String">
        <value>uploadFiles</value>
      </setting>
      <setting name="btnDeleteConvTable_Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dialysisChunkSize" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="dialysisThreadSize" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ConvertRestFileUploadUrlFormat" serializeAs="String">
        <value>{0}{1}/job/convert/uploadfile</value>
      </setting>
      <setting name="ConvertRestCheckConnection" serializeAs="String">
        <value>{0}{1}/job/convert/checkDBConnection</value>
      </setting>
      <setting name="ConvertLogFileUploadUrlFormat" serializeAs="String">
        <value>{0}{1}/job/convert/upload</value>
      </setting>
      <setting name="ConvertRestDeleteTableJobUrlFormat" serializeAs="String">
        <value>{0}{1}/job/convert/deleteTableJob</value>
      </setting>
      <setting name="ConvertLogin" serializeAs="String">
        <value>{0}{1}/login</value>
      </setting>
      <setting name="ConvertRestExecuteUrlFormat" serializeAs="String">
        <value>{0}{1}/job/convert/execute</value>
      </setting>
      <setting name="ConvertRestDeleteConvTableJobUrlFormat" serializeAs="String">
        <value>{0}{1}/job/convert/deleteConvertTableJob</value>
      </setting>
      <setting name="ConvertRestTableStatusUrlFormat" serializeAs="String">
        <value>{0}{1}/job/convert/tableStatus</value>
      </setting>
      <setting name="ConvertRestStatusUrlFormat" serializeAs="String">
        <value>{0}{1}/job/convert/status</value>
      </setting>
      <setting name="ConvertRestTableLogUrlFormat" serializeAs="String">
        <value>{0}{1}/job/convert/tableStatusForLog</value>
      </setting>
      <setting name="ConvertRestExecuteReStartUrlFormat" serializeAs="String">
        <value>{0}{1}/job/convert/executeRestart</value>
      </setting>
      <setting name="ConvertRestStopJobUrlFormat" serializeAs="String">
        <value>{0}{1}/job/convert/stop</value>
      </setting>
      <setting name="ConvertgetMstFacilityUrlFormat" serializeAs="String">
        <value>{0}{1}/job/convert/getMstFacility</value>
      </setting>
      <setting name="ConvertUpdateMstFacilityUrlFormat" serializeAs="String">
        <value>{0}{1}/job/convert/updateMstFacility</value>
      </setting>
      <setting name="TraceFile" serializeAs="String">
        <value>ConvertTool_TRACE_FNW-FNWSi-Converter</value>
      </setting>
      <setting name="ErrorFile" serializeAs="String">
        <value>ConvertTool_ERROR</value>
      </setting>
      <setting name="ConvertHealthCheck" serializeAs="String">
        <value>{0}{1}/job/convert/health/check</value>
      </setting>
      <setting name="ConvergetOrdMainFormat" serializeAs="String">
        <value>{0}{1}/job/convert/getOrdMain</value>
      </setting>
      <setting name="ConvertgetPatLatestNo" serializeAs="String">
        <value>{0}{1}/job/convert/getPatLatestNo</value>
      </setting>
    </NKSConverter.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.8" newVersion="10.0.0.8" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.8" newVersion="10.0.0.8" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.8" newVersion="10.0.0.8" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Formats.Asn1" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.8" newVersion="10.0.0.8" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.8" newVersion="10.0.0.8" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.8" newVersion="10.0.0.8" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>