<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Fragment>
    <UI Id="WixUI_InstallDirConfig">

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="InstallDirDlg" />
      <DialogRef Id="MaintenanceTypeDlg" />
      <DialogRef Id="MaintenanceWelcomeDlg" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="OutOfDiskDlg" />
      <DialogRef Id="OutOfRbDiskDlg" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="VerifyReadyDlg" />
      <DialogRef Id="WaitForCostingDlg" />
      <DialogRef Id="WelcomeDlg" />

      <DialogRef Id="ConfigEditDlg" />

      <Dialog Id="UserExitDlg" Width="370" Height="270" Title="[ProductName] セットアップウィザード">
        <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="yes" Text="WixUI_Bmp_Dialog" />
        <Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes">
          <Text Value="{\WixUI_Font_Bigger}セットアップウィザードの中断" />
        </Control>
        <Control Id="Description" Type="Text" X="135" Y="90" Width="220" Height="80" NoPrefix="yes">
          <Text Value="[ProductName] のセットアップはキャンセルされました。" />
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="374" Height="0" TabSkip="yes" />
        <Control Id="Finish" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="完了(F)">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="&lt; 戻る" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Disabled="yes" Text="キャンセル" />
      </Dialog>

      <Dialog Id="ExitDlg" Width="370" Height="270" Title="[ProductName] セットアップウィザード">
        <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="yes" Text="WixUI_Bmp_Dialog" />
        <Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes">
          <Text Value="{\WixUI_Font_Bigger}セットアップウィザードの完了" />
        </Control>
        <Control Id="Description" Type="Text" X="135" Y="90" Width="220" Height="80" NoPrefix="yes">
          <Text Value="[ProductName] のセットアップが完了しました。完了ボタンをクリックして終了してください。" />
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="374" Height="0" TabSkip="yes" />
        <Control Id="Finish" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="完了(F)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="&lt; 戻る" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Disabled="yes" Text="キャンセル" />
      </Dialog>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="1" Condition="NOT Installed" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="2" Condition="Installed AND PATCH" />

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="1" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="ConfigEditDlg" Order="3" />
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1" />
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2" />

      <Publish Dialog="ConfigEditDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="ConfigEditDlg" Control="SkipButton" Event="NewDialog" Value="VerifyReadyDlg" />

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ConfigEditDlg" Order="1" Condition="NOT Installed AND NOT PATCH" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2" Condition="Installed AND NOT PATCH" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3" Condition="Installed AND PATCH" />

      <Publish Dialog="ExitDlg" Control="Finish" Event="EndDialog" Value="Return" Order="999" />

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg" />

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg" />

    </UI>

    <UIRef Id="WixUI_Common" />

    <InstallUISequence>
      <Show Dialog="ExitDlg" OnExit="success" />
      <Show Dialog="UserExitDlg" OnExit="cancel" />
    </InstallUISequence>
    <AdminUISequence>
      <Show Dialog="ExitDlg" OnExit="success" />
      <Show Dialog="UserExitDlg" OnExit="cancel" />
    </AdminUISequence>

  </Fragment>

</Wix>
