<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<CommonSection>
		<!--圧縮パスワード-->
		<ZipFilePassword>password</ZipFilePassword>
		<!--Oracleの配置-->
		<OracleIp>127.0.0.1</OracleIp>
		<OracleUserId>nkk</OracleUserId>
		<OraclePassword>nkk</OraclePassword>
		<OraclePort>1521</OraclePort>
		<!-- ホストアドレス -->
		<uploadServPathValue>/var/lib/ntss-convert/CopySQL</uploadServPathValue>
		<!-- 圧縮ファイルの最大数 -->
		<DefaultExportFolderPathLen>30</DefaultExportFolderPathLen>
		<!-- サーバーアドレス -->
		<ConvertRestWebServerIp>http://127.0.0.1:8084</ConvertRestWebServerIp>
		<!-- サーバーPort -->
		<ConvertRestWebServerPort></ConvertRestWebServerPort>
		<!-- 負荷分散 -->
		<LoadBalancing></LoadBalancing>
	</CommonSection>
</configuration>