<?xml version="1.0" encoding="utf-8"?>
<Settings>
    <!--共通設定-->
    <Common>
        <SysCoopIniFileName>SYS_COOP_INI_DATA.xml</SysCoopIniFileName>
        <DebugMode>false</DebugMode>
    </Common>
    <!--Socket設定-->
    <Socket>
        <!--IFエッジサービスのIP-->
        <IFEdgeIPAddress></IFEdgeIPAddress>
        <!--IFエッジサービスのポートNo-->
        <IFEdgePatientPortNo>9998</IFEdgePatientPortNo>
        <IFEdgeExaminPortNo>9997</IFEdgeExaminPortNo>
        <!--ローカルサービスのポートNo-->
        <LocalPortNo>8998</LocalPortNo>
    </Socket>
    <!--FTP設定-->
    <Ftp>
        <!--FTPのIPAddress-->
        <FtpIPAddress></FtpIPAddress>
        <!--FTPのポートNo-->
        <FtpPortNo>22</FtpPortNo>
        <!---FTPのUserId-->
        <FtpUserId>ntss</FtpUserId>
        <!--FTPのパスワード-->
        <FtpPW>ntss</FtpPW>
    </Ftp>
    <!--ログ設定-->
    <Log>
        <!--ログの保存先(既定：直下のLOGフォルダ)-->
        <LogFolder></LogFolder>
        <!--ログ保持日数(既定:20日)-->
        <LogKeepNumberOfDays>20</LogKeepNumberOfDays>
		<!--ログ送信時刻(HHmm)-->
		<SendLogToBox>0900</SendLogToBox>
		<!--ログ送信パス-->
		<SendLogToBoxPath>/home/ntss/if_edge/logs/</SendLogToBoxPath>
    </Log>
</Settings>